* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  width: 1100px;
  margin: 0 auto;
}

header {
  display: flex;
  height: 293px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  margin-left: 50px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;

}

.logo {
  margin-right: 50px;
}

.contents {
  width: 240px;
  height: 98px;
  margin-right: 50px;
}

.contents1, .contents2, .contents3 {
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 24.3px;
letter-spacing: 0%;
color: 000000;
}

.contents1 {
  text-decoration: underline;
}


header .logo img {
  width: 148px;
  height: 105px;
}

header nav ul {
  display: flex;
  list-style-type: circle;
  text-transform: lowercase;
}

header nav ul li {
  margin-right: 22px;
}

header nav ul li:first-child {
  list-style-type: none;
}

header nav ul li a {
  color: black;
}

a.active {
  text-decoration: none;
}

a:hover {
  color: blue;
}

.cover::before {
  opacity: 0/5;
  z-index: 1;
}

.cover {
  height: 757px;
  width: 1100px;
  background-image: url("../images/0ebc4c3a92bfb672f477e421e7738fd6416ff19b\ \(4\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cover ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
    gap: 20px;
    letter-spacing: 26px;
}

.cover ul li {
    color: white;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.cover ul li:nth-child(1) {
  text-align: left;
}

.cover ul li:nth-child(2) {
  text-align: center;
}

.cover ul li:nth-child(3) {
  text-align: right;
  
}

.cover .description {
  width: 637px;
  height: 38px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  
}

.cover .description p {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: white;
  max-width: 637px;
}


.cover .description button {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;

  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 12px 32px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cover .description button:hover {
  background-color: white;
  color: black;
}
.cover .description span {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: white;
}

.lots {
  width: 1100px;
  margin: 0 auto;
  padding-top: 180px;
}

.lots h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 27px;
}

/* контейнер с карточками */
.lots .card {
  display: inline-block;
  position: relative;
  width: 334px;
  height: 596px;
  margin-right: 25px;
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

/* убираем отступ у последней карточки */
.lots .card:last-child {
  margin-right: 0;
}

/* затемнение карточки */
.lots .card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* текст на карточке */
.lots .card h1 {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 48px 40px 0 40px;
  z-index: 2;
}

.lots .card h2 {
  display: none; /* если не используется */
}

.lots .card p {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  margin: 30px 40px 48px 40px;
  z-index: 2;
}

/* кнопка "Посмотреть больше" */
.lots > a {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
}
.lots > a:hover {
  color: blue;
  border-color: blue;
}

/* фоновые изображения */
.card1 {
  background-image: url("../images/card-lot-01.jpg");
}
.card2 {
  background-image: url("../images/card-lot-02.jpg");
}
.card3 {
  background-image: url("../images/card-lot-03.jpg");
}


.about {
  display: flex;
  align-items: flex-start; /* текст выровнен по верхней линии логотипа */
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding-top: 120px; /* можно уменьшить, если в макете меньше */
  gap: 72px; /* расстояние между логотипом и текстом */
  padding-bottom: 120px;
}

/* логотип слева */
.about .logo-column {
  width: 240px;
  height: 240px;
  border-radius: 50%; /* делает круглым */
  background-color: black; /* если логотип сам прозрачный */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .logo-column img {
  width: 148px;
  height: 105px;
}

/* блок справа с текстом */
.about .about-column {
  max-width: 693px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about .about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about .description-block {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.footer {
  height: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contacts {
  height: 98px;
  width: 264.57px;
  padding-left: 0px;
  display: inline-block;
  margin-right: auto;
  margin-left: 50px;
}

/* .cover ul li span {
color: white;
font-weight: bold;
font-size: 100px;
text-transform: uppercase;
} */

.menu-footer {
width: 164px;
height: 64px;
display: flex;
justify-content: center;
align-items: center;
}

.menu-footer ul {
text-align: center;
list-style: none;
}

.social {
width: 240px;
height: 48px;
display: flex;
gap: 48px;
margin-left: auto;
margin-right: 50px;
}

.social-1 {
width: 48px;
height: 48px;
}

.social-2 {
width: 48px;
height: 48px;
}

.social-3 {
width: 48px;
height: 48px;
}
