* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  width: 1100px;
  margin: 0 auto;
}

header {
  display: flex;
  height: 293px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  margin-left: 47px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 4px;
  margin-bottom: 5px;
}

.logo {
  height: 105px;
  width: 148px;
  margin-right: 175px;
  margin-bottom: 2px;
}

.contents {
  width: 240px;
  height: 98px;
  margin-right: 50px;
}

.contents1,
.contents2,
.contents3 {
  font-family: Raleway;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  color: 000000;
}

.contents1 {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.contents2 {
  text-decoration: underline;
  text-underline-offset: 4px;
}

header .logo img {
  width: 148px;
  height: 105px;
}

header nav ul {
  display: flex;
  list-style-type: circle;
  text-transform: lowercase;
}

header nav ul li {
  margin-right: 22px;
  margin-left: 5px;
}

header nav ul li:first-child {
  list-style-type: none;
}

header nav ul li a {
  color: black;
}

a.active {
  text-decoration: none;
}

.cover {
  height: 757px;
  width: 1100px;
  background-image: url("../images/0ebc4c3a92bfb672f477e421e7738fd6416ff19b\ \(4\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cover ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
  gap: 20px;
  letter-spacing: 26px;
}

.cover ul li {
  color: white;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.cover ul li:nth-child(1) {
  text-align: left;
  margin-bottom: 48px;
}

.cover ul li:nth-child(2) {
  text-align: center;
  position: relative;
  top: -45px;
  left: 17px;
  letter-spacing: 32px;
}

.cover ul li:nth-child(3) {
  text-align: right;
  position: relative;
  top: -45px;
  left: 38px;
  letter-spacing: 32px;
}

.cover .description {
  width: 1000px;
  height: 51px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.cover .description p {
  width: 637px;
  height: 28px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
  color: white;
  justify-content: space-between;
}

.cover .description button {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  color: white;
  border: 1px solid white;
  width: 256px;
  height: 51px;
  line-height: 100%;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 107px;
}

.lots {
  width: 1052px;
  height: 723px;
  margin: 0 auto;
  margin-top: 180px;
}

.lots h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots .card {
  display: inline-block;
  position: relative;
  width: 334px;
  height: 596px;
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
}

.card-description {
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 20px;
}

.card1-description {
  top: 274px;
}

.card2-description {
  top: 30px;
}

.card3-description {
  top: 126px;
}

.lots .card h1 {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 48px 40px 0 40px;
  z-index: 2;
  text-underline-offset: 3px;
}

.lots .card p {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  margin: 30px 40px 48px 40px;
}

.card-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card-overlay h1 {
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.more {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-left: 40px;
  margin-top: 28px;
  display: block;
  text-underline-offset: 4px;
}

.card1 {
  background-image: url("../images/card-lot-01.jpg");
  margin-right: 19px;
}

.card2 {
  background-image: url("../images/card-lot-02.jpg");
  margin-right: 22px;
}

.card3 {
  background-image: url("../images/card-lot-03.jpg");
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1052px;
  margin: 0 auto;
  padding-top: 120px;
  gap: 72px;
}

.about .logo-column {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: 35px;
}

.about .logo-column img {
  width: 148px;
  height: 105px;
}

.about-column {
  margin-top: 133px;
}

.about .about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about .description-block {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 100px;
  color: #000;
}
.about .description-block p {
  max-width: 693px;
}

.description-block-line1 {
  width: 688px;
}

.description-block-line2 {
  width: 693px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.footer {
  margin-top: 180px;
  height: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contacts {
  height: 98px;
  width: 264.57px;
  padding-left: 0px;
  display: inline-block;
  margin-right: 154.03px;
  margin-left: 50px;
}

.contacts a {
  display: block;
}

.line-1,
.line-2 {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  text-underline-offset: 5px;
}

.line-3 {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  text-decoration: none;
}

.menu-footer {
  width: 164px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}
.menu-footer-line1 {
  text-decoration: none;
}

.menu-footer ul {
  text-align: center;
  list-style: none;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-underline-offset: 5px;
}

.social {
  width: 240px;
  height: 48px;
  display: flex;
  gap: 48px;
  margin-left: auto;
  margin-right: 50px;
}

.social-1 {
  height: 48px;
}

.social-2 {
  width: 48px;
  height: 48px;
}

.social-3 {
  width: 48px;
  height: 48px;
}
